include ./nav-bar
include ./footer

block variables
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(
      rel="shortcut icon mask-icon",
      href="https://cdn.auth0.com/website/auth0_favicon.svg",
      color="#000000"
    )
    link(
      rel="shortcut icon",
      href="https://cdn.auth0.com/website/new-homepage/dark-favicon.png"
    )
    meta(name="theme-color", content="#000000")
    meta(
      name="description",
      content="Learn how to add user authentication to Express.js web apps easily."
    )
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(
      rel="preload",
      as="style",
      href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter&family=Space+Grotesk&display=optional"
    )
    link(rel="stylesheet", href="/styles.css")
    title Auth0 Express Sample
  body
    #app
      .page-layout
        +NavBar
        .page-layout__content
          block page-layout-content
        +Footer
